@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-container {
  height: 100%;
  -webkit-mask-image: url("../public/splash.png");
  mask-image: url("../public/splash.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 800px;
  width: 800px;
}

.about-container {
  height: 100%;
  -webkit-mask-image: url("../public/blob.svg");
  mask-image: url("../public/blob.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 500px;
}

.header-small {
  background-color: #303030;
  padding: 1px;
  box-shadow: -1px 11px 59px -1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -1px 11px 59px -1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 11px 59px -1px rgba(0, 0, 0, 0.31);
}
