@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-container {
  height: 100%;
  -webkit-mask-image: url("../public/splash.png");
  mask-image: url("../public/splash.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
